@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }
  .navbar ul li {
    margin: 0;
  }
  .text {
    text-align: center;
    font-size: 1.5rem;
  }
  .burger-toggle img {
    visibility: hidden;
  }
  .burger img {
    visibility: hidden;
  }
  .text p  {
    margin: 0 auto;
  }
}
